<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!--<button (click)=''></button>
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<router-outlet></router-outlet>

 -->
 <h1>
  <a routerLink="/home" >home</a>-------
  <a routerLink="/news" >news</a>
  --
  <a routerLink="/newscontent/6" >newscontent</a>
  --
  <a routerLink="/comlifecycle">comlifecycle</a>
  --
  <a routerLink="/rxjs">rxjs</a>
  <tree-root #tree [nodes]="nodes" [options]="options"></tree-root>
</h1>
 
<router-outlet></router-outlet>